<section>
  <header>
    <h2>Pontuações</h2>
  </header>

  <main>
    <p>Cravar o resultado do jogo ( acertar o placar exato)</p>
    <p>10 pontos</p>

    <p>Acertar o vencedor do jogo e o número de gols de um dos 2 times. </p>
    <p>7 pontos</p>

    <p>Acertar o empate mas errar o número de gols dos times </p>
    <p>5 pontos</p>

    <p>Acertar o vencedor do jogo mas errar o número de gols dos 2 times. </p>
    <p>4 pontos </p>

    <p>Errar o vencedor do jogo mas acertar o número de gols de um dos times</p>
    <p>1 ponto</p>

    <p>Errar tudo ou não palpitar </p>
    <p>0 pontos</p>

    <p>Desempate:</p>
    <p>1º Maior número de cravadas</p>
  </main>
</section>
