<% if @player_bet_league_form.errors.any? %>
  <div class="alert alert-danger mt-2">
    <h2>Algo de errado não está certo:</h2>

    <ul>
      <% @player_bet_league_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row mb-3">
  <div class="col">
    <h1>Participantes</h1>
  </div>
</div>


<%= render 'form' %>
