<% if @player_bet_league_form.errors.any? %>
  <div id="alert alert-danger mt-2">
    <h2>Algo de errado não está certo:</h2>

    <ul>
      <% @player_bet_league_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>Convidar novos participantes</h1>

<%= render 'form', player_bet_league: @player_bet_league %>
