<div data-target="fields-for.fields">
  <div class="row align-items-center mb-3">
    <div class="col-5">
      <%= game_form.select :home_id,
        team_options_for_select,
        {}, prompt: '- Select -', class: 'form-control', 'data-behavior' => 'selectpicker', 'data-live-search'=>"true" %>
    </div>

    <div class="col-1 d-flex justify-content-center">
      <%= fa_icon('times') %>
    </div>

    <div class="col-5">
      <%= game_form.select :visitor_id,
        team_options_for_select,
        {}, prompt: '- Select -', class: 'form-control', 'data-behavior' => 'selectpicker', 'data-live-search'=>"true" %>
    </div>

    <div class="col-1 d-flex justify-content-center">
      <a href="#self" data-action="fields-for#hide">
        <%= fa_icon('trash') %>
      </a>
    </div>
  </div>
</div>
