<h1>Editing Player Round Assignment</h1>

<%= render 'form', player_round_assignment: @player_round_assignment %>

<%= link_to 'Show', @player_round_assignment %> |
<%= link_to 'Back', player_round_assignments_path %>
