<section>
  <header>
    <div class="d-flex mb-3 mt-3 w-100 justify-content-between">
      <h2>Bem vindo!</h2>

      <a href="<%= new_player_session_path %>" class="btn btn-primary btn-lg">Entrar</a>
    </div>
  </header>

  <main>
    <h3>Crie sua liga de palpites e convide seus amigos</h3>
    <div class="shadow p-3 mb-5 bg-white rounded">
      <img src="/images/bet_league.png">
    </div>

    <h3>Organize as rodadas com os jogos de seu interesse</h3>
    <div class="shadow p-3 mb-5 bg-white rounded">
      <img src="/images/round.png">
    </div>

    <h3>Divitar-se palpitando nos jogos</h3>
    <div class="shadow p-3 mb-5 bg-white rounded">
      <img src="/images/bets.png">
    </div>

    <h3>Deixe que a gente calcula as pontuações:</h3>
    <ul>
      <li>Cravar o resultado do jogo (acertar o placar exato): 10 pontos</li>

      <li>Acertar o vencedor do jogo e o número de gols de um dos 2 times: 7 pontos</li>

      <li>Acertar o empate mas errar o número de gols dos times: 5 pontos</li>

      <li>Acertar o vencedor do jogo mas errar o número de gols dos 2 times: 4 pontos </li>

      <li>Errar o vencedor do jogo mas acertar o número de gols de um dos times: 1 ponto</li>

      <li>Errar tudo ou não palpitar: 0 pontos</li>
    </ul>


    <h4>Critérios de desempate:</h4>

    <ul>
      <li>1º Maior número de cravadas</li>
    </ul>

    <a href="<%= new_registration_path('player') %>" class="btn btn-primary btn-lg btn-block">Experimentar</a>
  </main>
</section>
