<p>Ol치 <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>N칩s estamos entrando em contato para avisar que o seu email est치 sendo mudado para <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>N칩s estamos entrando em contato para avisar que o seu email mudou para <%= @resource.email %>.</p>
<% end %>
