<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou para alterar a sua senha no Palpita Ai. Você pode fazer isso usando o link abaixo.</p>

<p><%= link_to 'Alterar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou esse link, por favor ignore esse e-mail.</p>
<p>Sua senha não vai ser alterada até você clicar no link acima e alterá-la.</p>
