<% if @round.errors.any? %>
  <div class="alert alert-danger mt-2">
    <h4 class="alert-heading">Erro:</h4>

    <ul>
      <% @round.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row mb-3">
  <div class="col">
    <h1>
      Finalizar Rodada

      <% if current_player_bet_league.player_round_assignments.exists?(round: @round) %>
        <% player_round_assignment = current_player_bet_league.player_round_assignments.find_by(round: @round) %>
        <a href="<%= player_round_assignment_path(player_round_assignment) %>">
          <%= fa_icon 'eye' %>
        </a>
      <% end %>
    </h1>

  </div>
</div>

<%= render 'form' %>
